name: C/C++ CI

on:
  push:
    branches: [ "client-prod" ]
  pull_request:
    branches: [ "client-prod" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: make client
      working-directory: forest-fire-forecasting
      run: make client
    - name: client
      working-directory: forest-fire-forecasting
      run: ./client
